@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="single-item">
    <div>        
        <img src="/img/slider/01.jpg" alt="">
    </div>
    <div>        
        <img src="/img/slider/02.jpg" alt="">
    </div>
    <div>        
        <img src="/img/slider/03.jpg" alt="">
    </div>
    <div>        
        <img src="/img/slider/04.jpg" alt="">
    </div>
    <div>       
        <img src="/img/slider/05.jpg" alt="">
    </div>
</div>


