<link rel="stylesheet" href="~/css/Manager/Order/_OrderManagePartial.css" />

<div class="container">
    <div class="box boxtitle bf5f5">
        <h4>訂單管理</h4>
    </div>
    <div class="box boxtitle bf5f5">
        <input id="btnSave" type="button" class="btn btn-outline-primary" value="保存" style="float: right;"/>
    </div>
    <div class="box a">
        <div id="orderList" class="orderbox">



        </div>
    </div>
</div>



<script type="text/javascript" src="~/js/Manager/Order/_OrderManagePartial.js" asp-append-version="true"></script>