<link rel="stylesheet" href="~/css/Manager/User/_UserQueryPartial.css" />


<div class="container">
    <!--搜尋列-->
    <div class="box a">
        <div class="search-box">
            <i class="bx bx-search"></i>
            <input id="userSearch" type="text" placeholder="Search" />
        </div>
    </div>

    <div class="box a-1">
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div id="btnAddUser" class="box box-fn btn-primary">
            Create User
        </div>
    </div>

    <div id="userList" class="box b">
        <div class="box box-content">
            <div class="box-section">
                <div class="box-img">陳</div>
            </div>
            <div class="box-section info">
                陳其邁
                <p>admin09191902</p>
                <p>ID:0112</p>
            </div>
        </div>

        <div class="box box-content">
            <div class="box-section">
                <div class="box-img">陳</div>
            </div>
            <div class="box-section info">
                陳其邁
                <p>admin09191902</p>
                <p>ID:0112</p>
            </div>
        </div>

    </div>
    <!--右側面板-->
    <div class="box c">
        <div id="box-main-content" class="box">
            <div id="containerP" class="right-section">
                <div class="section-topic">詳細資料</div>

                <div id="userId" class="section-content">
                    <div id="smWord" class="box-img">陳</div>
                    <div class="inline-content">

                        <div class="username">
                            <span id="userName">陳其邁</span>
                        </div>
                        @*<span id="userId">0112</span>*@
                        <div class="userdetail">
                            <i class='bx bxs-user'></i>
                            <span id="userGName">Admin</span>


                        </div>
                        <span id="userAccount">admin09191902</span>

                        @*<span>Email：djleleein0909@gmail.com</span>*@
                        @*<span>Address：台中市西屯區市政路100號</span>*@
                    </div>

                    <div class="inline-content">
                    </div>

                    <div class="inline-content">
                        <span></span>
                        <div class="user-control">
                            <i id="userEdit" class='bx bxs-pencil'></i>
                            <i id="userDelete" class='bx bxs-trash'></i>
                        </div>
                        <span>　　</span>

                        <span id="userCreatTime">建立日期：2020/11/20</span>
                        <span id="userUpdateTime">修改日期：2020/11/25</span>
                        @*<span>最後登入：2021/03/01</span>*@
                    </div>
                </div>



                <div class="line"></div>

                <div id="group_permissions">

                    <div class="section-function">
                        <div class="main-row">
                            <div class="function-content"><span>產品管理</span></div>
                            <div class="function-content">
                                讀取<br />

                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                新增<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                修改<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                刪除<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-function">
                        <div class="main-row">
                            <div class="function-content"><span>會員管理</span></div>
                            <div class="function-content">
                                讀取<br />

                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                新增<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                修改<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                刪除<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-function">
                        <div class="main-row">
                            <div class="function-content"><span>訂單管理</span></div>
                            <div class="function-content">
                                讀取<br />

                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                新增<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                修改<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="function-content">
                                刪除<br />
                                <div>
                                    <label>
                                        <input type="checkbox" name="" id="" class="checkbox" />
                                        <span class="btn-box">
                                            <span class="btnb"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>


            </div>

            <div id="containerR">
                <div class="title">註冊帳號</div>
                <form id="rgForm">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">名稱</span>
                            <input id="rgName" type="text" name="name" placeholder="輸入名稱" required />
                        </div>
                        <div class="input-box">
                            <span class="details">帳號</span>
                            <input id="rgAccount" type="text" name="account" placeholder="輸入帳號" required />
                        </div>
                        <div class="input-box">
                            <span class="details">密碼</span>
                            <input id="rgpCode" type="password" name="password" placeholder="輸入密碼" required />
                        </div>
                        <div class="input-box">
                            <span class="details">確認密碼</span>
                            <input type="password" name="password_confirm" placeholder="再次確認密碼" required />
                        </div>

                        <div class="input-box">
                            <span class="details">權限設定</span>
                            <select id="rgSelect" name="select" class="required">
                                <option selected value="">請選擇</option>
                            </select>
                        </div>
                    </div>

                    <div class="button">
                        <input id="submit" type="submit" value="新增" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Manager/User/_UserQueryPartial.js" type="text/javascript" asp-append-version="true"></script>


